/node_modules/
/package-lock.json
/.idea
/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.env
/project/.env.backup
/project/.env.production
/project/.phpactor.json
/project/.phpunit.result.cache
/project/Homestead.json
/project/Homestead.yaml
/project/auth.json
/project/npm-debug.log

/OLDFORREMOVE/
/public/build/
./DS

.DS_Store
public/.DS_Store
public/images/.DS_Store
public/uploads/.DS_Store
resources/.DS_Store
resources/images/.DS_Store
resources/js/.DS_Store
resources/js/Pages/.DS_Store
resources/js/Pages/Patient/.DS_Store
resources/js/Pages/Patient/FormulaMilk/.DS_Store
resources/js/Pages/Patient/Partials/.DS_Store
resources/.DS_Store
.DS_Store
.DS_Store
.DS_Store
resources/.DS_Store
.DS_Store
PATIENT_SCREENS
public/build
/SCREENS/
/public/uploads/examples_formulas/
/resources/js/Pages/Scheduler/__Index.tsx
/resources/js/Pages/Scheduler/resources/event.js
/resources/js/Pages/Scheduler/_Index.tsx
/public/scheduler_video/Screen Recording 2025-06-20 at 12.44.52.mov
