@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
@use "tailwindcss/screens";

@use "components/index";
@use "components/header";
@use "components/typography";
@use "components/icons";
@use "components/table";
@use "components/form";
@use "components/buttons";
@use "components/media";
@use "components/dashboard";
@use "components/footer";
@use "components/modal";


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
body {
    background: #fff;
    //font-family: "Manrope", sans-serif;
    //font-family: "Montserrat", sans-serif;
    //font-family: "Unbounded", sans-serif;;
    //font-family: "Andika", sans-serif;
    font-family: "PT Sans Caption", sans-serif;;
}
.bg-main {
    //background-image: url(../images/bg/1.jpeg);
    background-image: url(../images/bg/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000a22;
}

.disabled-content-block {
    pointer-events: none;
    opacity: 0.5;
    background-color: #f2f2f2;
    color: #999;
    cursor: not-allowed;
}
.wrapper {
    display: block;
    width: 100%;
}
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
.wrapper:after {
    clear: both;
}
.one-fourth {
    width: 23.5%;
    float: left;
    margin-right: 1.333333%;
    background: red;
    height: 100px;
    margin-bottom: 1.333333%;
}
.last {
    margin-right: 0;
}
.grid-p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.navbar-collapse {
    position: absolute;
    right: 0;
    top: 66px;
    background: #fff;
    width: 100%;
    transition: all .4s ease-in;
    transform: translateX(0);
}
.navbar-toggler {
    display: none;
}


.navbar-toggler {
    z-index: 999999;
}
.br {
    border: solid 1px;
}
.content-data {
    border-radius: 4px;
}
.strech-block {
    display: table-row;
    width: 100%;
}
.body-guest {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.login-content {
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 90px;
    //padding-top: calc(30% - 300px)
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box div {
    width: 100px;
    height: 100px;
    background: red;
}

