.drop-zone-container {
    @apply w-full;
}

.dropzone {
    @apply border border-black border-dashed rounded-lg text-xs text-black flex
    justify-center items-center max-h-[200px] h-[200px] p-2.5 cursor-pointer;
}

.dropzone p {
    @apply mt-10 block max-w-[200px] text-center relative;
}

.dropzone p:before {
        content: " ";
        /*background-image: url("../../public/images/dropzone-icon.svg");*/
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -40px;
        left: calc(50% - 20px);
}

.drop-zone-container aside {
    @apply mt-4;
}

.drop-zone-container aside h4 {
  @apply text-black text-xs font-bold;
}

.drop-zone-container aside ul li {
  font-size: 10px;
  @apply border border border-dashed  font-bold text-black
  pr-2.5 pl-6  py-1.5 rounded-lg mt-1.5 relative inline-block ml-2;
}

.drop-zone-container aside i.close {
  /*background-image: url("../../public/images/close.svg");*/
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  @apply absolute top-0.5 right-0.5 cursor-pointer;
}
.drop-zone-container aside i.file {
  width: 24px;
  height: 24px;
  @apply absolute top-1.5 left-1.5;
}

.drop-zone-container aside  em {
  @apply font-normal text-black not-italic block;
}
.drop-zone-container aside  span {
  text-overflow: ellipsis;
  @apply max-w-[85px] overflow-hidden block whitespace-nowrap;
}

.input_container {
    border: 1px solid #e5e5e5;
    margin-top: 2px;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
}

input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
}
