.st0 {
    opacity: 1;
    fill: #FEF4D1;
}
.st1 {
    opacity: 0.33;
    fill: none;
    stroke: #7C7C7C;
    stroke-width: 0.542;
}
.st2 {
    opacity: 0.5;
    fill: none;
    stroke: #7C7C7C;
    stroke-width: 0.542;
}
.st3 {
    fill: #9b9b9b;
    stroke-width: 5;
}
.st4 {
    font-family: 'gsans', sans-serif;
  }
.st10 {
 fill: #10af38;
}
.st5 {
    font-size: 36.8738px;
}
.st6 {
    fill: #F8DFA8;
}
.st7 {
    opacity: 0.7;
    fill: #FFFFFF;
}
.st8 {
    fill: none;
    stroke: #9C9C9C;
    stroke-width: 0;
}
.st9 {
    opacity: 0.7;
    fill: #FFD787;
}
.st10 {
    opacity: 1;
    fill: #FED36A;
}
.st11 {
    opacity: 0.73;
    fill: #FEF6F9;
}
.st12 {
    opacity: 0.73;
    fill: #FEF6F9;
}
.st13 {
    fill: #FFFFFF;
    stroke: #212121;
    stroke-width: 1.5;
}
.st14 {
    fill: #EAE9E9;
    stroke: #212121;
    stroke-width: 1.5;
}
.st15 {
    fill: #EAE9E9;
    stroke: #212121;
    stroke-width: 1.5;
}
.st16 {
    fill: #D5D5D5;
    stroke: #5E5E5E;
    stroke-width: 1.5;
}
.st17 {
    fill: #E9E9E9;
    stroke: #212121;
    stroke-width: 1.5;
}
.st18 {
    fill: #D5D5D5;
    stroke: #5E5E5E;
    stroke-width: 2.1602;
}
.st19 {
    fill: none;
    stroke: #5E5E5E;
    stroke-width: 2.1602;
}
.st20 {
    display: none;
}
.st21 {
    display: inline;
    opacity: 0.73;
    fill: #FED36A;
}
.st22 {
    display: inline;
    opacity: 1;
    fill: #FEF6F9;
}
.st23 {
    display: inline;
    opacity: 1;
    fill: #FF7D7D;
}
.st24 {
    fill: #F9E2AB;
    stroke: #D5D5D5;
    stroke-width: 0.5423;
}
.st25 {
    fill: #D5D5D5;
    stroke: #5E5E5E;
    stroke-width: 2;
}
.st26 {
    fill: #E9E9E9;
    stroke: #5E5E5E;
    stroke-width: 2;
}
.st27 {
    opacity: 0.73;
}
.st28 {
    fill: #FED36A;
}
.st29 {
    opacity: 0.75;
    fill: #FEF6F9;
}
.st30 {
    fill: #D5D5D5;
    stroke: #5E5E5E;
    stroke-width: 1.085;
}
.st31 {
    fill: #FFFFFF;
    stroke: #2B2B2B;
    stroke-width: 1.0845;
}
.st32 {
    fill: none;
    stroke: #9E9E9E;
    stroke-width: 1.0846;
}
.st33 {
    fill: #E9E9E9;
    stroke: #AEAEAE;
    stroke-width: 1.085;
}
.st34 {
    letter-spacing: -2;
}
.st35 {
    opacity: 0.65;
}
.st36 {
    fill: #FFFFFF00;
    stroke: #DDDDDD;
    stroke-width: 0.32;
    stroke-miterlimit: 10;
}
.axis {
    fill: #D5D5D5;
}
.st38 {
    opacity: 0.1;
    fill: #FFFFFF05;
    stroke: #9C9C9C;
    stroke-width: 1.0846;
}
.st39 {
    opacity: 0;
    fill: #FFFFFF05;
    stroke: #9C9C9C;
    stroke-width: 1.0846;
}
.st41 {
    fill: rgba(238, 238, 238, 0.5);
}
.st42 {
    fill: #FF0000;
}
.st43 {
    fill: none;
    stroke: #E30613;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.st44 {
    fill: #D5D5D5;
    stroke: #5E5E5E;
    stroke-width: 2;
}
.st45 {
    fill: #5E5E5E;
}
.st46 {
    fill: none;
    stroke: #9C9C9C;
    stroke-width: 2;
}
.st47 {
    fill: #E9E9E9;
    stroke: #5E5E5E;
    stroke-width: 2;
}
.st48 {
    fill: #C4C4C4;
    stroke: #5E5E5E;
    stroke-width: 2;
}
.st49 {
    fill: #ffffff;
}
.st50 {
    fill-rule: evenodd;
    clip-rule: evenodd;
}
.st51 {
    fill: #3A3838;
}
.st52 {
    fill: #C4C4C4;
}
.st53 {
    fill: #F7D688;
}
.st54 {
    stroke: #514f48;
    fill: none;
    stroke-width: 0;
    stroke-linecap: round;
}
.st55 {
    fill: rgba(180, 241, 178, 0.95);
    stroke: #9C9C9C;
    stroke-width: 1;
}
.st56 {
    stroke: #AEAEAE;
    stroke-width: 2;
}
.st57 {
    fill: #FFFFFF;
    stroke: #514f48;
    stroke-width: 2;
}
.st58 {
    opacity: 0;
    fill: #FFFFFF;
}
.st59 {
    fill-rule: evenodd;
    clip-rule: evenodd;
}
.st60 {
    opacity: 0;
    fill: none;
    stroke: #9C9C9C;
    stroke-width: 2;
}
.st61 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #C0B08A;
    stroke: #9E9E9E;
    stroke-width: 1;
}
.st62 {
    fill: #fff;
    stroke: #9E9E9E;
}
.pdtfill {
    opacity: 1;
    fill: #FEF4D1;
}
.pdt {
    fill: none;
    stroke: #E30613;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.ye_pd-diff, .probing_depth, .yasen_edge {
    stroke-linecap: round;
    stroke-linejoin: round;
}
.formula-block-title {
    text-transform: uppercase;
    color: #29425e;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}
.inline-list li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px 0px;
    font-size: 14px;
}
.block-list li{
    display: block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}
.formula-action .active {
    background-color: #ede4f7;
    border-radius: 2px;
}
.action-block {
    margin-bottom: 25px;
    width: 100%;
    ul {
        padding: 0;
        margin: 0;

        li {
            display: block;
        }
    }
}
.diagnoze-title {
    padding: 5px 8px;
}

.tooth-block {
    opacity: 0;

    &:hover {
        transition: opacity 0.2s;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}
.f-number-hover {
    transition: opacity 0.2s;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.f-tooth {
    opacity: 0;

    &:hover {
        opacity: 0.7 !important;
        transition: opacity 0.2s;
        transform: matrix(1, 0, 0, 1, 0, 0);

    }
}
.df-tooth-perio {
    opacity: 1;
}
.df-tooth {
    opacity: 0;

    &:hover {
        opacity: 0.7 !important;
        transition: opacity 0.2s;
        transform: matrix(1, 0, 0, 1, 0, 0);

    }
}
.tooth-number {
    font-weight: bold;
    opacity: 0;
}
.tooth-number-hover {
    opacity: 0.7 !important;
    transition: opacity 0.2s;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.tooth-number-active {
    opacity: 1;
}
.tooth-number-hide {
    opacity: 0 !important;
}
.tooth-part-hide {
    visibility: hidden !important;
}
.change-color {
    fill: #fdde88;
}
.change-color.diagnoze {
    fill: #6a4f04;
}
.circle-blue {
    @apply w-[15px] h-[15px] bg-blue-100 inline-block mr-3;
    background-color: rgb(170, 250, 169);
}
.circle-blue.active {
    background-color: rgb(16, 187, 76);
}
.circle-yellow {
    @apply w-[15px] h-[15px] bg-yellow-100 inline-block mr-3;
    background-color: rgba(241, 237, 22, 0.5);
}
.circle-yellow.active {
    background-color: rgb(236, 232, 12);
}
.circle-pink {
    @apply w-[15px] h-[15px] inline-block mr-3;
    background-color: rgba(241, 22, 22, 0.5);
}
.circle-pink.active {
    background-color: rgb(241, 22, 22);
}
.st_pointers {
    opacity: 0;
    fill: #29425e;
}
.f-tooth-active {
    opacity: 1 !important;
}
.active-milk {
    opacity: 1 !important;
}
.f-tooth-init, .f-tooth-init-milk {
    opacity: 0;
}
.hide-number {
    display: none;
}
.dis-milk:hover {
    opacity: 0;
}
.dis-hover:hover {
    opacity: 0;
}
.hover-hide {
    opacity: 0 !important;
}
.hover-show {
    opacity: 1 !important;
    visibility: inherit !important;
}
.f-tooth-active {
    visibility: inherit !important;
}
.underlay {
    fill: transparent;
}
.underlay.selected .st40 {
    fill: rgba(249, 230, 240, 0.5);
}
.underlay-child .st40 {
    stroke: rgba(22, 5, 70, 1);
    stroke-width:   1;
}
.adult-underlay {
    z-index: 999999;
}
.v-hidden {
    visibility: hidden !important;
}
.f-tooth-init-milk.adult {
    visibility: hidden !important;
}
.f-tooth-init-milk.adult.f-tooth-active {
    visibility: inherit !important;
}
.num-active {
    fill: #29425e !important;
}
.ot {
    opacity: 0.1 !important;
}
.oh {
    opacity: 0.9 !important;
}
.d-circle-blue {
    background-color: rgb(170, 250, 169);
    width: 8px;
    height: 8px;
    border-color: rgb(71, 103, 70);
    border:solid 1px;
    position: absolute;
    right: 10px;
    top: 14px;
}
.d-badge.blue {
    background-color: rgb(187, 245, 187, 0.5);
}
.d-badge.pink {
    background-color: rgba(246, 157, 157, 0.5);
}
.d-badge.yellow {
    background-color: rgba(241, 237, 22, 0.5);
}