.logo-m-new {
    padding-left: 45px;
    margin-top: 10px;
}
.logo {
    width: 50px;
}
.logo-main {
    //position: absolute;
    //top: 75px;
    //width: 350px;
    height: auto;
    margin: 0 auto;
    //left: calc(50% - 185px);
}
.logo-invite {
    width: 200px;
}
.nav-content {
    position: absolute;
    top:0px;
    right: 0;
}
.truncate {
    //background: #f4eddf; /* Цвет фона */
    //padding: 10px; /* Поля вокруг текста */
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
    max-width: 105px;
    height: 15px;
    //display: contents;
    display: inline-block;
}
.lng-menu {
    background: transparent !important;
}
.top-submenu {
    background: #26576b;
    color: #fff !important;
}
.progress-bar {
    //border: solid 1px;
    min-width: 130px;
    position: relative;
    color: #000;
    //display: flex;
    background-color: #fff;
}
.progress-bar-caption {
    margin-top: 0;
    // text-align: center;
    // margin-left: 5px;
    font-size: 14px;
    // width: 80px;
    position: absolute;
    top: 0;
    right: 5px;
}
.nav-link {
    color: white;
}
.sol-block {
    // @apply md:space-x-4 md:flex md:pr-[30px] inline align-middle text-[14px] whitespace-nowrap;
    max-width: 75px;
    width: 75px;
    display: inline-block;
    white-space: wrap;
    text-align: center;
    font-size: 14px;
}
.epoch-data {
    // border: solid 1px #fff;
    font-size: 9px;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 5px;
}
.progress-block {
    position: relative;
    border: solid 1px #727375;
    border-radius: 3px;
}
.progress-bar {
    color: #727375;
    background-color: transparent;
    height: 45px;
}
.progress-bar-caption {
    color: #fff !important;
    top: 22px;
}
