.logo-m-new {
    padding-left: 45px;
    margin-top: 10px;
}
.logo {
    width: 50px;
}
.logo-main {
    //position: absolute;
    //top: 75px;
    //width: 350px;
    height: auto;
    margin: 0 auto;
    //left: calc(50% - 185px);
}
.logo-invite {
    width: 200px;
}
.nav-content {
    position: absolute;
    top:0px;
    right: 0;
}
.truncate {
    //background: #f4eddf; /* Цвет фона */
    //padding: 10px; /* Поля вокруг текста */
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
    max-width: 105px;
    height: 15px;
    //display: contents;
    display: inline-block;
}
.lng-menu {
    background: transparent !important;
}
.top-submenu {
    background: #26576b;
    color: #fff !important;
}
.progress-bar {
    //border: solid 1px;
    min-width: 130px;
    position: relative;
    //display: flex;
}
.progress-bar-caption {
    margin-top: 0;
    text-align: center;
    margin-left: 5px;
    font-size: 14px;
    width: 80px;
    position: absolute;
    top: 0;
}
.nav-link {
    color: white;
}