.modal-overlay-columns {
    background-color: rgb(255, 255, 255);
    padding: 35px;
    position: absolute;
    top: 10%;
    left: 40%;
    max-height: 500px;
    overflow-y: auto;
    min-width: 400px;
    border: solid 1px #ccc;
    -webkit-box-shadow: 5px 5px 15px 5px #8877f1; 
    box-shadow: 5px 5px 15px 5px #8877f1;
}

.draggable-item {
    cursor: move;
    padding: 6px;
    background: #1e3a8a;
    margin-bottom: 5px ;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    min-width: 200px;
}