.modal-overlay-columns {
    background-color: #281f32;
    padding: 35px;
    position: absolute;
    top: 25%;
    left: 50%;
    max-height: 500px;
    // overflow-y: auto;
    min-width: 400px;
    border: solid 1px #ccc;
    -webkit-box-shadow: 5px 5px 15px 5px #8877f1; 
    box-shadow: 5px 5px 15px 5px #8877f1;
    opacity: 0.9;
}

.modal-overlay-columns .columns {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    max-height: 300px;
    overflow-y: auto;
}

.draggable-item {
    cursor: move;
    padding: 6px;
    background: #000;
    border: solid 1px #e5e7eb;
    margin-bottom: 5px ;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    min-width: 200px;
}

.switch-container {
    height: 20px !important;
    width: 40px !important;
    background-color: #703ea2 !important;
    border: 1px solid #703ea2 !important;
    box-shadow: rgb(100, 30, 138) 0px 0px 0px 20px inset !important;
}
.switch-container span {
    width: 17px !important;
    height: 17px !important;
}