
.price-container {
    border-radius: 8px !important;
    margin-bottom: 8px;
    padding: 10px 10px 15px 10px;
    font-size: 14px;
    //background: #ffcdd2 !important;
    //border: 1px solid #ef9a9a;
}
.price-btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    //margin: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    //text-transform: uppercase;
    //letter-spacing: 2px;
    background-image: linear-gradient(to right, #212150 0%, #6556d2 51%, #0e0b33 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.price-btn:hover {
    background-position: right center;
}
.price-row {
    //padding: 3px 5px;
    border: solid 1px;
}
.price-value {
    border-left: 1px solid;
    float:right;
    text-align: right;
    display: inline-block;
    @apply inline-block float-right w-[100px];
}
.pr-0 {
    background: #f8e3e5 !important;
    border: 1px solid #c47777;

    .price-row {
        background: #f8e3e5;
        border: 1px solid #d08484;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #d08484 !important;
    }
    .price-value {
        border-color: #d08484;
    }
}
.pr-1 {
    background: #e7e1f6 !important;
    border: 1px solid #7458b6;

    .price-row {
        background: #e7e1f6;
        border: 1px solid #564188;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #564188 !important;
    }
    .price-value {
        border-left: 1px solid #564188 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-2 {
    background: #fad5e9 !important;
    border: 1px solid #d49bb9;

    .price-row {
        background: #fadeff;
        border: 1px solid #cc9bd4;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #cc9bd4 !important;
    }
    .price-value {
        border-left: 1px solid #cc9bd4 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-3 {
    background: #fae0d4 !important;
    border: 1px solid #be613f;

    .price-row {
        background: #fce7dd;
        border: 1px solid #ad502f;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #ad502f !important;
    }
    .price-value {
        border-left: 1px solid #ad502f !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-4 {
    background: #d4d9fa !important;
    border: 1px solid #4354b0;

    .price-row {
        background: #e1e5fd;
        border: 1px solid #253380;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #253380 !important;
    }
    .price-value {
        border-left: 1px solid #253380 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-5 {
    background: #e2d5f8 !important;
    border: 1px solid #7c5ab7;

    .price-row {
        background: #ebdffc;
        border: 1px solid #7c5ab7;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #7c5ab7 !important;
    }
    .price-value {
        border-left: 1px solid #7c5ab7 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-6 {
    background: #d5f8e7 !important;
    border: 1px solid #5ab785;

    .price-row {
        background: #dffaed;
        border: 1px solid #5ab785;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #5ab785 !important;
    }
    .price-value {
        border-left: 1px solid #5ab785 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-7 {
    background: #d5ddf8 !important;
    border: 1px solid #5a6db7;

    .price-row {
        background: #dfe8fa;
        border: 1px solid #5a77b7;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #5a77b7 !important;
    }
    .price-value {
        border-left: 1px solid #5a77b7 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-6 {
    background: #d5f8f8 !important;
    border: 1px solid #2b9494;

    .price-row {
        background: #d5f8f8;
        border: 1px solid #2b9494;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #5ab785 !important;
    }
    .price-value {
        border-left: 1px solid #5ab785 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-8 {
    background: #f8e1d5 !important;
    border: 1px solid #b7735a;

    .price-row {
        background: #fae5df;
        border: 1px solid #9f5033;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #9f5033 !important;
    }
    .price-value {
        border-left: 1px solid #9f5033 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-9 {
    background: #d09bef !important;
    border: 1px solid #8227b6;

    .price-row {
        background: #ebdffa;
        border: 1px solid #8227b6;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #8227b6 !important;
    }
    .price-value {
        border-left: 1px solid #8227b6 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}
.pr-10 {
    background: #9befe8 !important;
    border: 1px solid #1a9a83;

    .price-row {
        background: #bcf3f3;
        border: 1px solid #218f93;
        border-top: 0 !important;
    }
    .first-child {
        border-top: 1px solid #218f93 !important;
    }
    .price-value {
        border-left: 1px solid #218f93 !important;
        float:right;
        display: inline-block;
        @apply inline-block float-right w-[100px];
    }
}



.first-child {
    border-top: solid 1px !important;
}
