.psr-jaw-up {
    width: 650px;
}
.psr-jaw-down {
    width: 650px;
    margin-top: 45px;
}
.change-color-psr {
    fill: #ffffff;
    stroke: #322F2F;
}
.change-color-psr-up {
    fill: #ffffff;
    stroke: #e1e0e0;
}
input.psr {
    width: 32px;
    height: 32px;
    border: none;
    border-bottom: 1px rgba(85, 80, 80, 0.9) solid;
    text-align: center;
    outline: none;
    font-size: 24px;
    padding: 1px;
}
.psr-b-inputs {
    max-width: 650px;
}
.psr-btn-line {
    width: 16px;
    font-size: 14px;
    color: gray;
    height: 16px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    display: inline-block;
}
.psr-btn-star {
    font-size: 14px;
    color: gray;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    display: inline-block;
}
.c-gray {
    color: lightgray;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.c-gray.active {
    color: lightslategray;
}
.change-color-psr.star, .change-color-psr-up.star {
    fill: #c50d0d !important;
}
.psr-view-value {
    font-size: 24px;
    border-bottom: solid 2px lightslategray;
    margin: 0 3px;
}