.data-table {
    @apply min-w-full text-left text-sm/6 text-zinc-950 dark:text-white;
}
.data-table thead {
    @apply text-zinc-500 dark:text-zinc-400;
}
.data-table th {
    @apply border-b border-b-zinc-950/10 px-4 py-2 font-medium
        first:pl-[var(--gutter,theme(spacing.2))]
        last:pr-[var(--gutter,theme(spacing.2))]
        dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1;
    font-size: 14px;
}
.data-table tr {
    @apply has-[[data-row-link][data-focus]]:outline
        has-[[data-row-link][data-focus]]:outline-2
        has-[[data-row-link][data-focus]]:-outline-offset-2
        has-[[data-row-link][data-focus]]:outline-blue-500
        dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%];
}
.data-table td {
    @apply relative px-4 first:pl-[var(--gutter,theme(spacing.2))]
        last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5
        dark:border-white/5 py-4 sm:first:pl-1 sm:last:pr-1;
}
//.text-orange-700 {
//    color: #746079 !important;
//}
.hscroll {
    overflow-x: auto; /* Horizontal */
}
.percent-tbl {
    color: green;
    font-weight: bold;
    font-size: 14px;
}

.table{
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
    font-size: 14px;
}
.table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
    font-size: 14px;
}
.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}
.table tbody .tqty, .table thead .tqty {
    text-align: right;
}
.a-right {
    text-align: right !important;
}

.act-payment-tbl {
    border: 1px solid #ddd;
    font-size: 14px;
}
.act-payment-tbl th {
    border-bottom-width: 1px;
    border-left: 1px solid #dddddd;
    padding: 5px 10px;
}
.act-payment-tbl tbody th, .act-payment-tbl tbody td {
    border-bottom-width: 1px;
    border-left: 1px solid #dddddd;
}
.act-payment-tbl td {
    padding: 5px 10px;
    vertical-align: middle;
    line-height: 16px;
}
.act-payment-tbl .sep {
    background-color: #eeeeee !important;
    border-top: none !important;
    /* border-bottom: none !important; */
    border-bottom: 1px solid #eeeeee !important;
    width: 6px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.act-payment-tbl .icon-btn {
    display: inline-block;
    background: #7608ad;
    color: white;
    border-radius: 5px;
    width: 23px;
    height: 23px;
}
.red-btn {
    background: #ec0580 !important;
}
.invoice-table th {
    font-size: 14px;
}
.invoice-table .w-qty {
    max-width: 160px;
}
.validator-table {
    margin: 10px 0;
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
}
.validator-table thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}
.validator-table th {
    font-size: 13px;
    white-space: nowrap;
    //padding: 10px 8px;
    @apply px-4 py-2;
}
.validator-table td {
    font-size: 13px;
}
.v-truncate {
    height: 20px !important;
}
.validator-table th{
    text-align: center;
}
.validator-table td {
    padding: 5px;
}
.key-link {
    margin: 0px auto;
}
.draggable-item {
    cursor: move;
    padding: 10px;
    background: #1e3a8a;
    margin-bottom: 5px ;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
}