.df-tooth.bottom, .bottom .common-view, .bottom .top-view {
    transform-origin: center center;
}
.df-tooth, .common-view, .top-view {
    transform-box: fill-box;
}
.st42 {
    fill: #FF0000 !important;
}
